body {
	background: url(someurl.jpg);
	background-color: #8ebd43d5;
}


#blank-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
  
}

#fruit-group {
  display: none;
}